# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Sickit-learn
4. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [35]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [39]:
200/60

3.3333333333333335

**Objectives:**

- Python
- R Language
- Anaconda Platform
- GitHub Workshop to store code as it is and in the branch
- Jupyter Notebook
- Open Source Data Analysis Platforms

## Author
Salman Raza